@import "../../common/variables.scss";

$form-margin: 0.5fr;

.Login {
  display: grid;
  height: 100vh;
  width: 100vw;
  background: blue;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: $navbar-height $form-margin 1fr $form-margin $footer-height;
  grid-template-areas:
    "navbar navbar navbar"
    ". . ."
    ". form ."
    ". . ."
    "footer footer footer";
}

.Form {
  grid-area: form;
  display: grid;
  grid-template-columns: 1fr $button-width;
  grid-template-areas:
    "header"
    "content"
    ". submit";
}

.Email {
}

.Password {
}

@media (max-width: $small-screen), not screen {
  .Login {
    grid-template-columns: 1fr;
    grid-template-rows: $mobile-navbar-height 1fr $mobile-footer-height;
    grid-template-areas:
      "navbar"
      "form"
      "footer";
  }
}
