$navbar-height: 40px;
$footer-height: 40px;
$mobile-navbar-height: 40px;
$mobile-footer-height: 40px;
$small-screen: 600px;

// theme variables

$default: "default";
$primary: "primary";
$primary-variant: "primary-variant";
$secondary: "secondary";
$secondary-variant: "secondary-variant";
$success: "success";
$warning: "warning";
$danger: "danger";
$background: "background";
$on-primary: "on-primary";
$on-secondary: "on-secondary";
$on-background: "on-background";
$on-danger: "on-danger";
$on-default: "on-default";
$on-success: "on-success";

// buttons
$button-width: 100px;
$button-height: 40px;
$button-radius: 10px;

// form & inputs
$input-height: 35px;
$input-radius: 5px;
$input-padding: 5px;